<div class="color-picker-ui-dropdown" style="width: {{= width }}px;">
  <!-- Nav -->
  <div class="cp-preview">
    <div class="cp-selected-color" style="background: {{= selected.color }};"></div>
    <input class="cp-hex-input" type="text" value="{{= selected.color  }}">
  </div>

  <!-- Content -->
  <div class="cp-content">
    <div class="cp-pallete">
      {{ for (var i = 0; i < pallete.length; i++) { }}
        <span class="cp-pallete-color cp-hex" data-hex="{{= pallete[i] }}" style="background-color: {{= pallete[i] }};"></span>
      {{ } }}
    </div>
    <div class="cp-picker" style="display: none;">Picker</div>
  </div>

  <!-- Menu -->
  <div class="cp-menu">
    <div class="cp-menu-item">
      {{= texts[lang].moreColors }}...
      <div class="arrow-icon"></div>
    </div>
    <div class="cp-menu-item cp-line-style-btn">
      {{= texts[lang].lineStyle }}
      <div class="arrow-icon"></div>
    </div>
    {{ if (resetColor) { }}
      <div class="cp-menu-item cp-reset-btn">{{= texts[lang].reset }}</div>
    {{ } }}
  </div>
</div>