<div class="cp-container cp-line-style-container">
  <label>{{= texts[lang].stroke }}</label>
  <select class="cp-stroke">
    {{ $.each(lineStroke, function(i, stroke) { }}
      <option value="{{= stroke.toLowerCase() }}" {{= stroke.toLowerCase() === selected.stroke ? 'selected' : '' }}>{{= texts[lang][stroke] }}</option>
    {{ }); }}
  </select>

  <label>{{= texts[lang].thickness }}</label>
  <select class="cp-thickness">
    {{ $.each(lineThickness, function(i, thickness) { }}
      <option value="{{= thickness }}" {{= thickness === selected.thickness ? 'selected' : '' }}>{{= thickness }}px</option>
    {{ }); }}
  </select>

  <div class="cp-btn-group">
    <div class="cp-btn cp-btn-primary cp-btn-apply">{{= texts[lang].apply }}</div>
    <div class="cp-btn cp-btn-cancel">{{= texts[lang].cancel }}</div>
  </div>
</div>
