<div class="cp-container cp-line-style-container">
  <label>{{= texts[lang].stroke }}</label>
  <select class="cp-stroke">
    <option value="normal">normal</option>
  </select>

  <label>{{= texts[lang].thickness }}</label>
  <select class="cp-thickness">
    <option value="0">0px</option>
    <option value="1">1px</option>
    <option value="2">2px</option>
    <option value="3">3px</option>
    <option value="4">4px</option>
  </select>

  <div class="cp-btn-group">
    <div class="cp-btn cp-btn-primary cp-btn-apply">{{= texts[lang].apply }}</div>
    <div class="cp-btn cp-btn-cancel">{{= texts[lang].cancel }}</div>
  </div>
</div>
