/**
 * Grid.
 */
.cp-container {
  padding: 12px;
}

/**
 * Box.
 */
.color-picker-ui-dropdown {
  position: absolute;
  background: #fff;
  z-index: 99990;
  border-radius: 1px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  color: #222;
  font-size: 13px;
  text-align: left;
}
.color-picker-ui-dropdown * {
  box-sizing: border-box;
}

/**
 * Preview
 */
.cp-preview {
  width: 100%;
  height: 46px;
  padding: 12px;
}
.cp-selected-color,
.cp-hex-input {
  display: inline-block;
  float: left;
  height: 100%;
  text-transform: uppercase;
}
.cp-selected-color {
  width: 15%;
  margin-right: 5%;
}
.cp-hex-input {
  width: 80%;
  padding-left: 2px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: none;
}
.cp-hex-input:focus {
  outline: 0;
  border-color: #aaa;
}

/**
 * Content.
 */
.cp-content {
  width: 100%;
  display: table;
  padding: 0 12px 12px;
}
.cp-pallete-color {
  display: inline-block;
  height: 20px;
  width: 6.667%;
  float: left;
  cursor: pointer;
}
.cp-pallete-color:hover {
  border: 1px solid white;
}
.cp-pallete-color.selected {
  border: 1px solid white; 
}

/**
 * Menu.
 */
.cp-menu {
  margin-bottom: 12px;
}
.cp-menu-item {
  padding: 7px 20px;
  cursor: pointer;
}
.cp-menu-item:hover .cp-menu-submenu {
  display: inline-block;
}
.cp-menu-item:hover {
  background-color: #EEE;
}

/**
 * Footer.
 */
.cp-btn {
  height: 27px;
  padding: 0 12px;
  line-height: 27px;
  cursor: default;
  border-radius: 1px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  color: #555;
  border: 1px solid #eee;
}
.cp-btn:hover {
  border-color: #ddd;
  color: #222;
}
.cp-btn-primary {
  color: white;
  background: #427fed;
  font-weight: bold;
  border: none;
}
.cp-btn-primary:hover{
  background: #568ced;
  color: white;
}
.cp-btn-group {
  margin-top: 5px;
  width: 100%;
}
.cp-btn-group .cp-btn {
  width: 48%;
}
.cp-btn-group .cp-btn:first-child {
  margin-right: 4%;
  float: left;
}

/**
 * Line style.
 */
.cp-line-style-container {
  display: none;
}
.cp-line-style-container select {
  width: 100%;
  margin: 4px 0 12px 0;
}