/**
 * Box.
 */
.color-picker-ui-dropdown {
  position: absolute;
  background: #fff;
  z-index: 99999;
  border-radius: 1px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  padding: 12px;
  color: #222;
  font-size: 13px;
  text-align: left;
}
.color-picker-ui-dropdown * {
  box-sizing: border-box;
}

/**
 * Preview
 */
.cp-preview {
  width: 100%;
  height: 26px;
  margin-bottom: 12px;
}
.cp-selected-color,
.cp-hex-input {
  display: inline-block;
  float: left;
  height: 100%;
}
.cp-selected-color {
  width: 15%;
  margin-right: 5%;
}
.cp-hex-input {
  width: 80%;
  padding-left: 2px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: none;
}
.cp-hex-input:focus {
  outline: 0;
  border-color: #aaa;
}

/**
 * Content.
 */
.cp-content {
  width: 100%;
  display: table;
}
.cp-pallete-color {
  display: inline-block;
  height: 20px;
  width: 6.667%;
  float: left;
  cursor: pointer;
}
.cp-pallete-color:hover {
  border: 1px solid white;
}
.cp-pallete-color.selected {
  border: 1px solid white; 
}

/**
 * Menu.
 */
.cp-menu {
  margin-top: 12px;
}
.cp-menu-item {
  padding: 7px 20px;
  cursor: pointer;
}
.cp-menu-item:hover {
  background-color: #eeeeee;
}

/**
 * Footer.
 */
.cp-btn {
  height: 27px;
  padding: 0 12px;
  line-height: 27px;
  cursor: default;
  border-radius: 1px;
  font-size: 12px;
}
.cp-btn-primary {
  color: white;
  background: #427fed;
  font-weight: bold;
}
.cp-btn-primary:hover{
  background: #568ced;
}
.cp-apply-btn {
  margin-top: 5px;
  float: right;
}